In [1]:
a=2
a

2

In [2]:
import numpy as np

In [14]:
import numpy as np
import pandas as pd 
a=np.array([[1,2,3,4],[5,6,7,8]])
b=np.array([[100,200,250,300],[150,200,350,500]])

In [19]:
import sklearn as sk
from sklearn.ensemble import RandomForestRegressor

In [20]:
model=RandomForestRegressor()

In [21]:
model.fit(a,b)

RandomForestRegressor()

In [26]:
model.predict([[1,2,3,4],[2,4,6,7]])

array([[112. , 200. , 274. , 348. ],
       [123.5, 200. , 297. , 394. ]])

In [9]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'key':['b','b','a','c','a','b'],
                 'data1':range(6)})

In [10]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [11]:
dummies=pd.get_dummies(df['key'],prefix='key')

In [16]:
df[['data1']].join(dummies)

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [26]:
np.random.seed(1)
values=np.random.rand(20)
bins=[0.1,0.4,0.7,1]

In [27]:
pd.get_dummies(pd.cut(values, bins))

    (0.1, 0.4]  (0.4, 0.7]  (0.7, 1.0]
0            0           1           0
1            0           0           1
2            0           0           0
3            1           0           0
4            1           0           0
5            0           0           0
6            1           0           0
7            1           0           0
8            1           0           0
9            0           1           0
10           0           1           0
11           0           1           0
12           1           0           0
13           0           0           1
14           0           0           0
15           0           1           0
16           0           1           0
17           0           1           0
18           1           0           0
19           1           0           0